.hero-section {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: linear-gradient(to right, #ecf2ff, #fbfcff);
}
/* Text section */
.text-section {
  width: 60%;
  padding: 0 2rem;
}
.text-headline {
  margin-bottom: 0.75rem;
  color: rgb(77, 75, 75);
  font-family: "Rubik", sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.text-title {
  width: 32rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.text-descritpion {
  width: 30rem;
  margin: 2rem 0;
  color: rgb(77, 75, 75);
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.7px;
  line-height: 1.6rem;
}
.text-appointment-btn {
  padding: 0.9rem 1.25rem;
  color: white;
  border: 1px solid transparent;
  border-radius: 1.75rem;
  outline: transparent;
  background-color: #1a8efd;
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.text-appointment-btn:hover {
  color: #1a8efd;
  background-color: transparent;
  border: 1px solid #1a8efd;
}
.text-stats {
  margin-top: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}
.text-stats-container {
  text-align: center;
}
.text-stats-container > p {
  color: rgb(77, 75, 75);
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.7px;
}
.text-stats-container p:first-child {
  margin-bottom: 8px;
  color: #1a8efd;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
/* Image section */
.hero-image-section {
  width: 40%;
  max-width: 100%;
  text-align: center;
}
.hero-image1 {
  width: 100%;
  height: auto;
}
/* Scroll Btn */
.scroll-up {
  width: 2.8rem;
  height: 2.8rem;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #1a8efd;
  position: fixed;
  bottom: 3.125rem;
  right: 3.125rem;
  font-size: 1.5rem;
  z-index: 20;
  cursor: pointer;
}
.show-scroll {
  display: flex;
}
/* Responsive */
@media screen and (max-width: 900px) {
  .hero-image-section {
    display: none;
  }
  .text-section {
    width: 100%;
    padding: 0;
  }
  .text-title,
  .text-descritpion {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .text-headline {
    font-size: 1.25rem;
  }
  .text-title {
    font-size: 1.75rem;
  }
  .text-descritpion {
    font-size: 1rem;
  }
  .text-appointment-btn {
    font-size: 1rem;
  }
  .text-stats {
    gap: 1.25rem;
  }
  .text-stats-container > p {
    font-size: 1rem;
  }
  .text-stats-container p:first-child {
    font-size: 1.375rem;
  }
  .scroll-up {
    bottom: 2rem;
    right: 2rem;
  }
}
