.review-section {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: linear-gradient(to right, #ecf2ff, #fbfcff);
}
/* Text */
.rw-text-content {
  width: 100%;
}
.rw-text-title {
  margin: 1rem 0;
  color: #6f7074;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.rw-text-num {
  color: #178bff;
}
.rw-text-desc {
  margin: 1rem 0;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: 0.7px;
  line-height: 2.6rem;
}
.rw-text-format {
  margin: 4rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.rw-text-quote1 {
  position: absolute;
  top: -1.125rem;
  left: -1.5rem;
  color: #178bff;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.rw-text-quote2 {
  position: absolute;
  right: -1.125rem;
  bottom: -1.5rem;
  color: #178bff;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.rw-review {
  display: block;
  margin: 0 0 0 0.5rem;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.7px;
  line-height: 2.2rem;
}
.rw-authors {
  margin: 0 0 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.rw-reviewer-name {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.rw-reviewer-place {
  margin: 0.3rem 0 0 0;
  color: #6f7074;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.8px;
}
/* Buttons */
.rw-next-btn {
  margin: 0 1.5rem 0 0;
  color: black;
  border: 1px solid transparent;
  background-color: transparent;
  outline: transparent;
  font-size: 3rem;
  cursor: pointer;
}
.rw-next-btn:hover {
  color: #178bff;
}
/* Responsive */
@media screen and (max-width: 700px) {
  .review-section {
    letter-spacing: 0.8px;
  }
  .rw-text-title {
    font-size: 1.3rem;
  }
  .rw-text-desc {
    font-size: 1.75rem;
  }
  .rw-review {
    font-size: 1.3rem;
    letter-spacing: 0.7px;
    line-height: 1.8rem;
  }
  .rw-reviewer-name {
    font-size: 1.25rem;
  }
  .rw-next-btn {
    margin: 0 1rem 0 0;
    font-size: 2.5rem;
  }
}
